.tabcommon {

    margin: 1%;
}

.highdes{
color:darkblue;

}

.tablehead{
    padding: 2px !important;
    font-size: 15px;
}

.infraimg{
height: 250px;
width: 750px;
    
}

.pipeimg{

width: 750px;
    
}